body {
  margin: 0;
  overflow: hidden;
  user-select: none;
  font-family: '未来圆SC Regular', 思源黑体 CN Regular;
  /* normal cursor */
  cursor: url('@/assets/img/public/cursor.png') 5 5, pointer;
}

body:active {
  cursor: url('@/assets/img/public/cursor-poke.png') 5 5, pointer;
}

/* .button { } */

@font-face {
  font-family: '未来圆SC Regular';
  src: url('@/assets/font/未来圆SC Regular.woff2') format('truetype');
}

.bg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


@keyframes button-click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.button-click-animation {
  animation: button-click 0.2s ease;
}

.bubble-text {
  position: absolute;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  white-space: nowrap;
  z-index: 200;
}